@font-face {
  font-family: 'Righteous';
  src: url('fonts/Righteous-Regular.woff2') format('woff2'),
      url('fonts/Righteous-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #D5AA77;
  --secondary-color: #F9FAFB;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --dark-shadow: rgba(0, 0, 0, 0.3);
  --focused: #2c84ff;
  --invalid: #ff0000a6;
}

/* CSS Reset (based off https: //www.joshwcomeau.com/css/custom-css-reset) */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* End of CSS Reset */

body {
  display: flex;
  background-color: var(--secondary-color);
}

fieldset {
  border: none;
}

.banner {
  width: 35%;
  height: 100vh;
  background-image: url("assets/sand_background.jpg");
  background-size: cover;
}

.content {
  width: 65%;
}

.company {
  display: flex;
  background-color: var(--dark-shadow);
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

h1 {
  font-family: "Righteous";
  color: var(--secondary-text-color);
  font-size: 6rem;
  font-weight: 400;
}

.logo {
  width: 180px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.signup-fields {
  display: flex;
  gap: 80px;
  padding: 0;
}

.field {
  display: flex;
  flex-direction: column;
}

.description {
  padding-left: 40px;;
  margin-bottom: 60px;
  font-weight: 500;
}

.create-account {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 8px;
  padding: 8px 40px;
  margin: 40px;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 var(--dark-shadow);
}

.create-account:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.signup-form > section {
  background-color: white;
  box-shadow: 0 4px 8px 0 var(--dark-shadow);
  padding: 20px 0 40px 40px;
}

.login {
  padding-left: 40px;
}

.form-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.signup-form label {
  font-size: 1.1rem;
}

.signup-form input {
  padding-left: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 480px;
}

.signup-form input:focus-visible {
  outline: 1px solid var(--focused);
  box-shadow: 5px 5px 4px 0 var(--dark-shadow);
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-link {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

input[type="password"]:invalid {
  outline: 1px solid var(--invalid);
}